extends layout
block content
    script(language="javascript", type="text/javascript").
        var person = prompt("Please enter instructor name", "");
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == XMLHttpRequest.DONE)
                document.write(xmlHttp.responseText);
        };
        xmlHttp.open("GET", "instructor/" + person, true);
        xmlHttp.send(null);
    p Received Get instructor